._countainer {
  max-width: 1170px;
}

.header {
  height: 9.766%;
}
.header__countainer {
  height: 100%;
  z-index: 2;
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  width: 8.376%;
  min-width: 54px;
  height: 100%;
  align-items: center;
}
.header__logo_img {
  width: 100%;
  height: 0;
  padding-bottom: 27.55%;
  position: relative;
  top: 7px;
}
.header__logo_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__wrapper {
  align-items: center;
  display: flex;
  align-items: center;
  width: 57.265%;
  height: 100%;
}
@media (max-width: 900px) {
  .header__wrapper {
    width: 77.265%;
  }
}
.header__menu {
  width: 100%;
  padding-top: 2px;
  align-items: center;
  display: flex;
  height: 100%;
}

.menu {
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.menu_item {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.44px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  justify-content: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
@media (max-width: 1200px) {
  .menu_item {
    font-size: 13px;
    line-height: 15.26px;
  }
}
.menu_item:not(:nth-child(n+6)) a {
  color: rgb(255, 255, 255);
  width: 2.56%;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.menu_item a:hover {
  color: rgb(244, 191, 135);
}
.menu_item:not(:nth-child(n+6)) {
  width: 17.01%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.menu_item:not(:nth-child(n+6)) a:hover {
  border-bottom: 1px solid rgb(244, 191, 135);
}
.menu_item:nth-child(n+6) a {
  display: flex;
  width: 100%;
  align-items: center;
}
.menu_item:nth-child(n+6) {
  width: 3.61%;
  min-width: 15px;
  height: 100%;
}
.menu_item:nth-child(6) {
  margin-left: 2.985%;
  margin-right: 5.223%;
}

.img__icon {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.img__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 700px;
}