._countainer {
  max-width: 1202px;
  padding: 0 16px;
}

.header__countainer {
  z-index: 2;
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
}
.header__logo_img {
  padding-top: 42px;
}
.menu_item {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.44px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  align-items: center;
  height: 100px;
}
.menu_item:not(:nth-child(n+6)) a {
  color: rgb(255, 255, 255);
  width: 85px;
}
.menu_item a:hover {
  color: rgb(244, 191, 135);
}
.menu_item:not(:nth-child(n+6)) {
  width: 114px;
}
.menu_item:not(:nth-child(n+6)) a:hover {
  border-bottom: 1px solid rgb(244, 191, 135);
}
.menu_item:nth-child(6) {
  padding-left: 17px;
  padding-right: 35px;
}

.footer {
  margin-top: 700px;
}