.warpper {
  display: flex;
  flex-direction: column;
  // margin: 0px auto;
  // font-family: Raleway;
  // font-size: 14px;
  // justify-content: center;
  min-height: 100%;
  width: 100%;
}
._separator {
  width: 14.52%;
  border-bottom: 4px solid;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1160px) {
  ._separator {
    width: 10%;
    min-width: 115px;
  }
}
.page {
  display: flex;
  // max-height: 1024px;
  max-width: 100vw;
  // min-width: 900px;
  // justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  &__main-block {
  }
}

.main-block {
  margin-left: auto;
  margin-right: auto;
  max-width: 1202px;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  padding-left: 16px;
  padding-right: 16px;
  &__countainer {
    height: 100vh;
    max-height: 1024px;
    // padding-bottom: 87.522%;
    position: relative;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // justify-content: space-between;
  }
  &__background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -3;
  }
  &__background-img img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
    z-index: -3;
  }

  &__title {
    &_cursive {
      margin-top: 6.082%;
      font-family: Kaushan Script;
      font-size: 64px;
      font-weight: 400;
      line-height: 92.86px;
      text-align: center;
      margin-bottom: 0.5%;
    }
    @media (max-width: 1160px) {
      &_cursive {
        margin-top: 5.3%;
        font-size: 48px;
        line-height: 69.65px;
      }
    }

    &_capital-countainer {
      position: relative;
      right: 122px;
      width: 80%;
      margin: 5px auto 0;
    }
    &_capital {
      font-family: Montserrat;
      font-size: 144px;
      font-weight: 700;
      line-height: 175.54px;
      text-align: center;
      text-transform: uppercase;
      text-align: end;
      letter-spacing: -5px;
      word-spacing: -10px;
    }
    @media (max-width: 1160px) {
      &_capital {
        font-size: 96px;
        line-height: 117.02px;
      }
    }
  }

  &__separator {
    background-color: rgba(255, 255, 255, 1);
    margin: 39px auto 76px auto;
  }

  &__button {
    height: 7.6%;
    min-height: 54.25px;
    width: 31.625%;
    min-width: 318px;
    border: 4px solid rgba(255, 255, 255, 1);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  @media (max-width: 1160px) {
    &__button {
      height: 6%;
    }
  }
  &__button p {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.18px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }
  &__button:hover {
    color: rgba(228, 190, 141, 1);
    background: rgba(255, 255, 255, 1);
  }
  &__button:hover p {
    color: rgba(228, 190, 141, 1);
  }
  &__button:active {
    color: rgba(228, 190, 141, 1);
    background: rgba(255, 255, 255, 1);
    border-color: rgba(228, 190, 141, 1);
  }

  &__menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 8.692%;
    min-height: 58px;
    &_countainer {
      margin-left: auto;
      margin-right: auto;

      // margin-top: 116px;
      display: flex;

      justify-content: space-between;
      width: 100%;
    }
    &__item {
      position: relative;
      display: flex;
      flex-direction: row;
      color: rgba(249, 239, 207, 1);
      width: 23.077%;
      min-width: 233px;
      border-top: 4px solid rgba(255, 255, 255, 1);
      align-items: center;
    }
    &__item:hover::before {
      position: absolute;
      top: -4px;
      content: "";
      width: 25.9%;
      border-top: 4px solid rgba(243, 130, 129, 1);
    }
    &__item:not(:last-child) {
      margin-right: 10px;
    }
    &__text {
      // position: absolute;
      // left: 0;
      // top: 50%;
      // transform: translate(0%, -50%);
      display: inline-block;
      height: 50%;
      width: 100%;
      // padding-left: 3px;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 500;
      line-height: 10.13px;

      text-transform: uppercase;
    }
    &__number {
      font-family: Raleway;
      font-size: 36px;
      font-weight: 700;
      line-height: 42.26px;
    }
    &__item:hover {
      color: rgba(255, 255, 255, 1);
    }
    // &__number:hover {
    //   color: rgba(255, 255, 255, 1);
    // }
    // &__item:nth-child(1) p::before {
    //   content: "01";
    // }
    // &__item:nth-child(2) p::before {
    //   content: "02";
    // }
    // &__item:nth-child(3) p::before {
    //   content: "03";
    // }
    // &__item:nth-child(4) p::before {
    //   content: "04";
    // }
    // &__item p::before {
    //   padding-right: 4px;
    //   font-family: Raleway;
    //   font-size: 36px;
    //   font-weight: 700;
    //   line-height: 42.26px;
    //   text-align: left;
    //   color: rgba(255, 255, 255, 1);
    // }
  }
  @media (max-width: 1160px) {
    &__menu {
      height: 6%;
    }
  }
}
