.footer {
  display: flex;
  max-width: 100vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: rgba(45, 48, 51, 1);
  background-color: white;
  &__countainer {
  }

  &__wrapper {
    min-height: fit-content;
    padding-bottom: 0px;
    max-height: fit-content;
  }

  &__frame {
    display: flex;
    position: relative;
  }

  &__media {
  }
}

.media {
  display: flex;
  margin: 3.5897% 0;

  &__follow {
    width: 100%;
    display: flex;
    gap: 2.5641%;
  }
  @media (max-width: 900px) {
    &__follow {
      flex-direction: column;
      align-items: center;
      gap: 5vh;
    }
  }

  &__about {
    flex-basis: 370px;
    max-width: 370px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    & > h2 {
      color: rgba(198, 203, 205, 1);
      font-family: Raleway;
      font-size: 36px;
      font-weight: 900;
      line-height: 42.26px;
      text-align: left;
    }
    & > p {
      margin: 10% 0;
      color: rgba(198, 203, 205, 1);

      font-family: Raleway;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.13px;
      text-align: left;
    }
    @media (max-width: 900px) {
      & > h2 {
        font-size: 32px;
      }
      & > p {
        line-height: 21.13px;
        font-size: 18px;
      }
    }
    @media (max-width: 900px) {
      & > h2 {
        font-size: 28px;
      }
      & > p {
        line-height: 16.44px;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  &__followers {
    display: flex;
    color: rgba(45, 48, 51, 1);

    & p {
      text-transform: uppercase;
      font-family: Raleway;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
    }
    @media (max-width: 1200px) {
      & p {
        font-size: 14px;
      }
    }
  }
  &__follow-us {
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 1px solid rgba(198, 203, 205, 1);
    display: flex;
    font-family: Raleway;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 15.26px;
    text-align: left;
    justify-content: space-between;
    color: rgba(198, 203, 205, 1);
    & p {
      justify-self: center;
      align-self: center;
      margin-right: 10%;
    }
  }

  &__social-list {
    margin-top: 3%;
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__social {
    display: flex;
    flex-basis: 24px;
    &:not(:last-child) {
      margin-right: 4%;
    }
    &:visited .media__visided {
      display: block !important;
    }
    &:visited .__not-visided {
      display: none !important;
    }
    &:hover .media__visided {
      display: block;
    }
    &:hover .__not-visided {
      display: none;
    }
  }

  &__icon {
    width: 100%;
    cursor: pointer;
    min-width: 16px;
  }

  &__icon-frame {
    display: flex;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__not-visided {
  }

  &__visided {
    display: none;
  }

  &__form {
    margin-top: auto;
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 900px) {
    &__form {
      max-width: 300px;
      flex-direction: column;
      row-gap: 2.5vh;
      align-self: center;
      width: 100%;
      margin-top: 2.5vh;
    }
  }

  &__blogs {
    flex-basis: 470px;
    min-width: 250px;
  }

  &__instagram {
    flex-basis: 270px;
    max-width: 270px;
    min-width: 150px;
    & h2 {
      text-transform: uppercase;
      margin-bottom: 30px;
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700;
      line-height: 28.18px;
      text-align: left;
      @media (max-width: 1200px) {
        font-size: 18px;
      }
    }
  }

  &__img-box {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px;
    margin-bottom: 30px;
  }

  &__instagram-img {
    cursor: pointer;
    min-width: 60px;
    transition: 0.4s ease;
    &:hover {
      transform: scale(1.4);
      z-index: 4;
      box-shadow: 0px 0px 10px black;
    }
  }

  &__instagram-img-frame {
    display: flex;
    width: 100%;
    height: 0;
    padding-bottom: 97.778%;
    position: relative;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__photos {
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.26px;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }

  @media (max-width: 900px) {
    &__about {
      flex-basis: auto;
      max-width: 500px;
      width: 100%;
    }
    &__blogs {
      flex-basis: auto;
      max-width: 500px;
      width: 100%;
    }
    &__instagram {
      flex-basis: auto;
      max-width: 500px;
      width: 100%;
    }
  }
}
.Raleway-big {
  text-transform: none;
  font-family: Raleway;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.Raleway-small {
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
@media (max-width: 1200px) {
  .Raleway-small {
    font-size: 14px;
  }
  .Raleway-big {
    font-size: 24px;
  }
}
.blogs {
  display: flex;
  flex-direction: column;

  & h2 {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.18px;
    text-align: left;
    margin-bottom: 30px;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    &:not(:last-child) {
      margin-bottom: 6.382%;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    flex-direction: row;
    &:hover > .blogs__image {
      transform: scale(1.2);
      z-index: 4;
      box-shadow: 0px 0px 5px black;
    }
  }

  &__image {
    display: flex;
    flex-basis: 170px;
    cursor: pointer;
    min-width: 83px;
    margin-right: 6.382%;
    transition: 0.5s ease;
  }

  &__image-frame {
    display: flex;
    width: 100%;
    height: 0;
    padding-bottom: 61.7647%;
    position: relative;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__description {
    flex-basis: 270px;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
    color: rgba(45, 48, 51, 1);
    padding-bottom: 5px;
  }

  &__date {
    text-transform: none;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.26px;
    text-align: left;
  }
  @media (max-width: 1200px) {
    & h2 {
      font-size: 18px;
    }
    &__description {
      font-size: 14px;
      line-height: 16.44px;
    }
    &__date {
      font-size: 12px;
    }
  }
}
.copirate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(198, 203, 205, 1);
  font-family: Raleway;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.26px;
  text-align: center;
  color: rgba(45, 48, 51, 1);
  height: 50px;
}
#emailAddress {
  height: 55px;
  flex-basis: 234px;
  border: 1px solid rgba(198, 203, 205, 1);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  &::placeholder {
    color: rgba(198, 203, 205, 1);
  }
}
.subscribe {
  cursor: pointer;
  height: 55px;
  flex-basis: 134px;
  color: rgba(255, 255, 255, 1);
  background: rgba(149, 225, 211, 1);
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
  transition: 0.3s ease-in;
  &:hover {
    background: rgba(135, 210, 196, 1);
  }
  &:active {
    background: rgba(92, 149, 138, 1);
    border: solid 5px rgb(255, 255, 255);
    transition: 0.3s ease-in;
  }
}
@media (max-width: 1200px) {
  #emailAddress {
    height: 37px;
    font-size: 14px;
  }
  .subscribe {
    height: 37px;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  #emailAddress {
    flex-basis: auto;
    width: 100%;
  }
  .subscribe {
    flex-basis: auto;
    width: 100%;
  }
}
