._countainer {
  max-width: 1170px;
}
.header {
  height: 9.766%;
  &__countainer {
    height: 100%;
    z-index: 2;
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;

    align-items: center;
  }

  &__logo {
    display: flex;
    width: 8.376%;
    min-width: 54px;
    height: 100%;
    align-items: center;
    &_img {
      width: 100%;
      height: 0;
      padding-bottom: 27.55%;
      position: relative;
      top: 7px;
    }
    &_img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__wrapper {
    align-items: center;
    display: flex;
    align-items: center;
    width: 57.265%;
    height: 100%;
  }
  @media (max-width: 900px) {
    &__wrapper {
      width: 77.265%;
    }
  }

  &__menu {
    width: 100%;
    padding-top: 2px;
    align-items: center;
    display: flex;
    height: 100%;
  }
}

.menu {
  width: 100%;
  min-width: fit-content;

  &_item {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    justify-content: center;
    min-width: fit-content;
  }

  @media (max-width: 1200px) {
    &_item {
      font-size: 13px;
      line-height: 15.26px;
    }
  }
  &_item:not(:nth-child(n + 6)) a {
    color: rgba(255, 255, 255, 1);
    width: 2.56%;
    min-width: fit-content;
  }
  &_item a:hover {
    color: rgba(244, 191, 135, 1);
  }
  &_item:not(:nth-child(n + 6)) {
    width: 17.01%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  &_item:not(:nth-child(n + 6)) a:hover {
    border-bottom: 1px solid rgba(244, 191, 135, 1);
  }
  &_item:nth-child(n + 6) a {
    display: flex;
    width: 100%;
    // height: 24px;
    align-items: center;
  }
  &_item:nth-child(n + 6) {
    width: 3.61%;
    min-width: 15px;
    height: 100%;
  }
  &_item:nth-child(6) {
    margin-left: 2.985%;
    margin-right: 5.223%;
  }
}
.img__icon {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.img__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 700px;
}
